.projects-page {
  position: relative;
  display: flex;
  justify-content: space-between;
  animation: fadeIn 1s 1s backwards;
  

  .text-zone {
    position: absolute;
    left: 10%;
    transform: translateY(20%);
    max-width: 80%;
    width: 80%;
    vertical-align: middle;
    display: inline;
    max-height: 90%;
    @media screen and (max-width: 768px) {
      max-height: 100%;
    }

    h1 {
      font-size: 3.8vw;
      font-family: 'Coolvetica';
      color: limegreen;
      font-weight: 400;
      margin-top: 1.5vh;
      position: relative;
      margin-bottom: 1.5vh;
      left: 10px;
      @media screen and (max-width: 768px) {
        font-size: 7vw;
      }
    }



    p{
      font-size: 1.5vw;
      color: #fff;
      font-family: sans-serif;
      font-weight: 300;
      min-width: fit-content;
      animation: pulse 1s;
      animation-delay: 1.5s;
      @media screen and (max-width: 768px) {
        font-size: 3vw;
      }
      @media screen and (max-height: 901px) {
        margin-top: 4vh;
      }
    }
    a{
        
        font-size: 1.5vw;
        color: limegreen;
        font-family: sans-serif;
        font-weight: 300;
        letter-spacing: 4px;
        min-width: fit-content;
        margin-right: 3vw;
        margin-top: .7vh;
        animation: pulse 1s;
        animation-delay: 1.5s;
        text-decoration: none; 
        padding: 1vh 3vw;
        border: 1px solid limegreen;
        white-space: nowrap;
        animation: fadeIn 1s 1.8s backwards;
        
        @media screen and (max-width: 768px) {
          font-size: 4vw;
        }
        
        
       

        &:hover{
            background: limegreen;
            color: #333;
        }

    }
  }

  .text-animate-hover {
    &:hover {
      color: #fff;
    }
  }
}
