.text-animate{
    display: inline-block;
    opacity: 0;
    min-width: auto;
}

.text-animate-hover{
    min-width: auto;
    margin-right: 0.35vw;
    display: inline-block;
    animation-fill-mode: both;

    &:hover{
        animation: rubberBand 1s;
        color: limegreen;
    }
}

