.container {
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  opacity: 0;
  top: 5;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 60%; 

    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 3.8vw;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    
    span{
      letter-spacing: .18vw;
    }
    
    

    img {
      width: 2.8vw;
      margin-left: 0.8vw;

      height: auto;

    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 1vh;
    font-weight: 400;
    font-size: 1.3vw;
    font-family: sans-serif;
    letter-spacing: .13vw;
    animation: fadeIn 1s 1.8s backwards;
    
  }

  .flat-button {
    color: limegreen;
    font-size: 1.3vw;
    font-weight: 400;
    letter-spacing: .18vw;
    font-family: sans-serif;
    text-decoration: none;
    padding: 2% 7%;
    margin-right: 3vw;
    border: 1px solid limegreen;
    margin-top: 1.2vh;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover{
        background: limegreen;
        color: #333;
    }
  }
}
